{% extends 'learning_logs/base.html' %}

{% block header %}
  <h2>{{ topic }}</h2>
{% endblock header %}

{% block content %}
<h5>This topic's entries</h5>

<table class="table">
  <thead>
    <tr>
      <th scope="col">Text</th>
      <th scope="col">Date added</th>
      <th scope="col">Controls</th>
    </tr>
  </thead>
  <tbody>

  {% for entry in entries %}

    <tr>
      <td>{{ entry.text|linebreaks }}</td>
      <td>{{ entry.date_added|date:'M d, Y H:i' }}</td>
      <td><a href="{% url 'learning_logs:edit_entry' entry.id %}">edit</a></td>
    </tr>

  {% empty %}

    <tr>
      <td colspan="3">There are no entries for this topic yet</td>
    </tr>

  {% endfor %}

  </tbody>
</table>

<a class="btn btn-primary" href="{% url 'learning_logs:new_entry' topic.id %}">Add new entry</a>

{% endblock content %}
